dist: bionic
language: rust
rust:
  - nightly
jobs:
  fast_finish: true
cache: cargo
before_script:
  - apt install binaryen
  - cargo install cargo-contract --vers ^0.11 --force --locked
script:
  - cargo contract build --verbose
  - cargo test --verbose